{{!-- Blog card --}}

  <div class="text-center border-b py-2">
    <h2 class="text-lg font-medium">{{title}}</h2>
  </div>
  <div class="p-4 border-b">
    <p class="text-white-700">{{content}}</p>
  </div>
  <div class="text-sm text-white-600 p-4">
    <p>{{post_date}}</p>
    <p>By: {{posted_by}}</p>
    <p id="post-id" class="hidden">{{id}}</p>
  </div>
